<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lotus.jewel.booker.word.mapper.WordMapper">

	<select id="selectAll" resultType="com.lotus.jewel.booker.word.model.Word">
		select
			word
			, header
			, word_type
			, description
			, lank
			, difficulty
			, regist_datetime
			, modify_datetime
		from word
	</select>

	<select id="selectWordListForPage" resultType="com.lotus.jewel.booker.word.model.Word">
		select
			word
			, header
			, word_type
			, description
			, lank
			, difficulty
			, regist_datetime
			, modify_datetime
		from word
		<where>
			<if test="word != null">
				and word like '%' || #{word} || '%'
			</if>
			<if test="header != null">
				and header = #{header}
			</if>
			<if test="wordType != null">
				and word_type = #{wordType}
			</if>
			<if test="lank != null">
				and lank = #{lank}
			</if>
			<if test="difficulty != null">
				and difficulty = #{difficulty}
			</if>
		</where>
		order by header
		limit #{start}, #{offset}
	</select>
	
	<select id="countWord" resultType="int">
		select count(*)
		from word
		<where>
			<if test="word != null">
				and word = #{word}
			</if>
			<if test="header != null">
				and header = #{header}
			</if>
			<if test="wordType != null">
				and word_type = #{wordType}
			</if>
			<if test="lank != null">
				and lank = #{lank}
			</if>
			<if test="difficulty != null">
				and difficulty = #{difficulty}
			</if>
		</where>
	</select>
	
	<select id="selectWordListForLank" resultType="com.lotus.jewel.booker.word.model.Word">
		select
			word
			, header
			, word_type
			, description
			, lank
			, difficulty
			, regist_datetime
			, modify_datetime
		from word
		<where>
			<if test="lank != null">
				and lank &gt;= #{lank}
			</if>
		</where>
		order by lank, difficulty
		limit #{start}, #{offset}
	</select>
	
	<select id="selectWord" resultType="com.lotus.jewel.booker.word.model.Word">
		select
			word
			, header
			, word_type
			, description
			, lank
			, difficulty
			, regist_datetime
			, modify_datetime
		from word
		where word like #{word} || '%'
		order by modify_datetime desc
		limit 1
	</select>
		
	<insert id="insertWord">
		insert into word (
			word
			, header
			, word_type
			, description
			, lank
			, difficulty
			, regist_datetime
			, modify_datetime
		) values (
			#{word}
			, #{header}
			, #{wordType}
			, #{description}
			, #{lank}
			, #{difficulty}
			, #{registDatetime}
			, #{modifyDatetime}
		)
	</insert>
	
	<update id="updateWord">
		update word
		<set>
			<if test="updateWord != null">word = #{updateWord},</if>
			<if test="wordType != null">word_type = #{wordType},</if>
			<if test="description != null">description = #{description},</if>
			<if test="lank != null">lank = #{lank},</if>
			<if test="difficulty != null">difficulty = #{difficulty},</if>
			modify_datetime = #{modifyDatetime}
		</set>
		where word = #{word}
	</update>
	
	<delete id="deleteWord">
		delete from word
		where word = #{word}
	</delete>
	
</mapper>